.App {
  margin: 16px;
}

ul > li {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
}

ul > li:hover {
  cursor: pointer;
  background-color: hotpink;
  color: white;
}
